<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>Bienvenu sur Tailor</h1>
            <p>Ce site vous permet de passer des commandes INSA Shop pour votre association. Ce service est ouvert uniquement
            aux associations de l'INSA Lyon. Toute demandes externe sera refusée.</p>
            <p>Pour continuer :</p>
            <a href="#menu-toggle" class="btn btn-default btn-block" id="menu-toggle">Remplir le formulaire de demande</a>
        </div>
    </div>
</div>
